{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Site Metas -->
<title>Yatra Amantran</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">

<!-- Design fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">


<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

<!-- FontAwesome Icons core CSS -->
<script src="https://kit.fontawesome.com/5f98fb381c.js" crossorigin="anonymous"></script>


<!-- Custom styles for this template -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<!-- Responsive styles for this template -->
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

<!-- Colors for this template -->
<link href="{% static 'css/colors.css' %}" rel="stylesheet">

<!-- Version Tech CSS for this template -->
<link href="{% static 'css/tech.css' %}" rel="stylesheet">

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
    /* <!--Scroll Top--> */
    .scroll-top {
    }

<!-- End Of Scroll Top-->


/*
<!--Carousel--> */
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}

<!--End Of Carousel-->
</style>
</head>

<body>

    <!--    <div id="wrapper">-->
    <header class="tech-header header">
        <div class="container-fluid">
            <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="text-center">
                    <a class="navbar-brand" href="\"><img src="/static\images\Logo.png" alt=""
                            style="height: 69px;width: 119%;"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="\">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="news">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="join us">Join Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="team">Our Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="magazine">E-Magazine</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div><!-- end container-fluid -->
    </header><!-- end market-header -->
    <br>
    <br>
    <section style="background-color:rgb(248, 250, 253);">
        <br>
        <br>
        <div class="slideshow-container">

            <div class="mySlides">
                <div class="numbertext">1 / 3</div>
                <img src="/static\images\YATRA 22.png" style="width:100%;">
            </div>

            <div class="mySlides">
                <div class="numbertext">2 / 3</div>
                <img src="/static\images\YATRA 3.png" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">3 / 3</div>
                <img src="/static\images\YATRA.png" style="width:100%">
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-top clearfix">
                                <h4 class="pull-left">Recent News <a href="#"><i class="fa fa-rss"></i></a></h4>
                            </div><!-- end blog-top -->
                            {% for newss in news %}

                            {% if forloop.counter < 9 %} <div class="blog-list clearfix">
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="/newsDetail/{{newss.id}}" title="">
                                                <img src="{{newss.image1.url}}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">

                                        <h4><a href="/newsDetail/{{newss.id}}" title="">{{newss.title}}</a></h4>

                                        <p>{{newss.short_paragraph}}</p>
                                        <small class="firstsmall"><a class="bg-orange" href="#"
                                                title="">{{newss.Categoary}}</a></small>
                                        <small><a href="/newsDetail/{{newss.id}}" title="">{{newss.timestamp.date}}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>




                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        <div class="widget">
                            <div class="banner-spot clearfix">
                                <div class="banner-img">
                                    <img src="/static\images\Hunza tea advt.jpeg" alt="" class="img-fluid">
                                </div><!-- end banner-img -->
                            </div><!-- end banner -->
                        </div><!-- end widget -->


                        <div class="widget">
                            <a href="https://www.youtube.com/channel/UClLiIpHxElqBdqvW69aYXkw">
                                <h2 class="widget-title">Youtube Channel Video</h2>
                            </a>
                            <div class="trend-videos">
                                <div class="blog-box">
                                    <div class="post-media">
                                        <!--                                            <a href="tech-single.html" title="">-->
                                        <iframe class="image-fluid" src="https://www.youtube.com/embed/djOdBT7hR9o"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                        <div class="hovereffect">

                                            <div class="hovereffect">
                                                <span class="videohover"></span>
                                            </div><!-- end hover -->
                                            <!--                                            </a>-->
                                        </div><!-- end media -->
                                    </div><!-- end blog-box -->
                                </div>
                            </div>
                        </div>

                        <hr class="invis">


                        <div class="widget">
                            <h2 class="widget-title">E-Magazine</h2>
                            <div>
                                <div class="list-group">
                                    <a href="{{magazines.magazine.url}}"
                                        class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="{{magazines.magazine_cover.url}}" class="img-fluid float-left">
                                        </div>
                                    </a>
                                </div>
                            </div><!-- end blog-list -->
                        </div><!-- end widget -->


                        <div class="widget">
                            <h2 class="widget-title">Follow Us</h2>

                            <div class="row text-center">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <a href="https://www.facebook.com/yatraamantran"
                                        class="social-button facebook-button">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <a href="https://twitter.com/Naturopathyfor2" class="social-button twitter-button">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <a href="mailto: yatraamantran@gmail.com" class="social-button google-button">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <a href="https://www.youtube.com/channel/UClLiIpHxElqBdqvW69aYXkw"
                                        class="social-button youtube-button">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </div>
                            </div>
                        </div><!-- end widget -->

                        <div class="widget">
                            <div class="banner-spot clearfix">
                                <div class="banner-img">
                                    <!--                                        <img src="/static\images\add-02.jpg" alt="" class="img-fluid">-->
                                </div><!-- end banner-img -->
                            </div><!-- end banner -->
                        </div><!-- end widget -->
                    </div><!-- end sidebar -->
                </div><!-- end col -->
            </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <footer class="footer" style="padding: 4rem 0 1rem;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="widget">
                            <div class="footer-text text-left">
                                <!--                                <a href="index.html"><img src="images/version/tech-footer-logo.png" alt="" class="img-fluid"></a>-->
                                <h2 class="widget-title text-center">Contact US</h2>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p>

                                            B 121, 2nd floor, Green Field Colony<br>

                                            Faridabad Haryana – 121001<br>

                                            Mail us at – yatraamantran@gmail.com<br>

                                            Our other website – www.willindiachange.org<br>
                                        </p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p>
                                            Shop no B 1, Privia mall , near PCMC RTO, Sector 6, Moshi Pradhikaran, Pune
                                            411062<br>
                                            Phone number <br>
                                            Nitin Kalje 9049487878<br>
                                            Kapil Kumar 9716665444<br>
                                            Mail us at
                                            yatraamantran@gmail.com<br>
                                        </p>

                                    </div>
                                </div>
                                <p>Yatra Amantran is a traveling as well as news website.</p>

                                <div class="social">
                                    <a href="https://www.facebook.com/yatraamantran" data-toggle="tooltip"
                                        data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/Naturopathyfor2" data-toggle="tooltip"
                                        data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="mailto: yatraamantran@gmail.com" data-toggle="tooltip"
                                        data-placement="bottom" title="Google Plus"><i
                                            class="fa fa-google-plus"></i></a>
                                    <a href="https://www.youtube.com/channel/UClLiIpHxElqBdqvW69aYXkw"
                                        data-toggle="tooltip" data-placement="bottom" title="Youtube"><i
                                            class="fa fa-youtube"></i></a>
                                </div>

                                <hr class="invis">

                                <!-- end newsletter -->
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Popular Categories</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="\">Home</a></li>
                                    <li><a href="/news">News</a></li>
                                    <li><a href="/magazine">E-Magzine</a></li>
                                    <li><a href="https://www.youtube.com/channel/UClLiIpHxElqBdqvW69aYXkw">Youtube</a>
                                    </li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Copyrights</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="/about">About us</a></li>
                                    <li><a href="/team">Our Team</a></li>
                                    <li><a href="/join us">Join Us</a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="copyright">&copy; Yatra Amantran 2021</div>
                        <p>Made with ❤ by <a href="mailto: maxdev2125@gmail.com"> Max Developers</a></p>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="dmtop scroll-top" style="background-image:url('\static/images/arrow.png'); background-position: 50% 50%;
    background-repeat: no-repeat;

    background-color: #111111;

    z-index: 9999;
    width: 40px;
    height: 40px;
    text-indent: -99999px;
    position: fixed;
    bottom: -100px;
    right: 25px;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    overflow: hidden;"></div>
    </section>
    <!--    </div>&lt;!&ndash; end wrapper &ndash;&gt;-->

    <!-- Core JavaScript/static\images\tech_blog_03.jpg
    ================================================== -->
    <script src="/static\js/jquery.min.js"></script>
    <script src="/static\js/tether.min.js"></script>
    <script src="/static\js/bootstrap.min.js"></script>
    <script src="/static\js/custom.js"></script>
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }

        /* <!--NavBar--> */

        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

</body>

</html>