{% load static %}
<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>Tech Blog - Stylish Magazine Blog Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 
   <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <script src="https://kit.fontawesome.com/5f98fb381c.js" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="{% static 'css/colors.css' %}" rel="stylesheet">

    <!-- Version Tech CSS for this template -->
    <link href="{% static 'css/tech.css' %}" rel="stylesheet">

     <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!--Nav Bar-->
<header class="tech-header header">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="text-center">
                    <a class="navbar-brand" href="\"><img src="/static\images\Logo.png" alt=""  style="height: 69px;width: 119%;"></a>
                    </div>
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="\">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/news">News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/join us">Join Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/team">Our Team</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/magazine">E-Magazine</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div><!-- end container-fluid -->
        </header><!-- end market-header -->
<!-- End of Nav Bar-->


    <div id="wrapper">
        <section class="section single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area text-center">
                                <ol class="breadcrumb hidden-xs-down">
                                    <li class="breadcrumb-item"><a href="\">Home</a></li>
                                    <li class="breadcrumb-item"><a href="/news">News</a></li>
                                    <li class="breadcrumb-item active">{{news.id}}</li>
                                </ol>
                                <span class="color-orange"><a href="#" title="">{{news.Categoary}}</a></span>

                                <h3>{{news.title}}</h3>

                                <div class="blog-meta big-meta">
                                    <small><a href="#
" title="">{{news.timestamp.date}}</a></small>
                                </div><!-- end meta -->
                            </div><!-- end title -->

                            <div class="single-post-media">
                                <img src="{{news.image1.url}}" alt="" class="img-fluid">
                            </div><!-- end media -->

                            <div class="blog-content">  
                                <div class="pp">
                                   <p>{{news.short_paragraph}}</p>
                                </div><!-- end pp -->
                                <div class="pp">
                                     <p>{{news.news_paragraph_1}}</p>
                                    <p>
                                        {% if news.image3 %}
                                        <img src="{{news.image3.url}}" class="float-left" width="380" alt="">
                                        {% endif %}
                                        <p>{{news.news_paragraph_2}}</p>
                                        {% if news.image4 %}
                                        <img src="{{news.image4.url}}" class="float-right" width="380" alt="">
                                        {% endif %}
                                    <p>{{news.news_paragraph_3}}</p>
                                      </div><!-- end pp -->
                            </div><!-- end content -->

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="banner-spot clearfix">
                                        <div class="banner-img">
<!--                                            <img src="/static\images\add-03.jpg" alt="" class="img-fluid">-->
                                        </div><!-- end banner-img -->
                                    </div><!-- end banner -->
                                </div><!-- end col -->
                            </div><!-- end row -->

                            <hr class="invis1">
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->



                     <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="/static\images\Hunza tea advt.jpeg" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end of add  widget -->


                            <div class="widget">
                               <a href="https://www.youtube.com/channel/UClLiIpHxElqBdqvW69aYXkw"> <h2 class="widget-title">Youtube Channel Video</h2></a>
                                <div class="trend-videos">
                                    <div class="blog-box">
                                        <div class="post-media">
<!--                                            <a href="tech-single.html" title="">-->
                                                 <iframe class="image-fluid" src="https://www.youtube.com/embed/djOdBT7hR9o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  <div class="hovereffect">

                                                <div class="hovereffect">
                                                    <span class="videohover"></span>
                                                </div><!-- end hover -->
<!--                                            </a>-->
                                        </div><!-- end media -->
                                    </div><!-- end blog-box -->
                                    </div>
                                </div>
                            </div> <!-- end of Youtube Video -->
                                    <hr class="invis">


   <div class="widget">
                                <h2 class="widget-title">E-Magazine</h2>
                                <div>
                                    <div class="list-group">
                                        <a href="{{magazines.magazine.url}}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                            <img src="{{magazines.magazine_cover.url}}" class="img-fluid float-left">
                                            </div>
                                        </a>
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end of E-Magzine widget -->


                            <div class="widget">
                                <h2 class="widget-title">Related Posts</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        {% for alls in relatedPost reversed%}
                                        <a href="/newsDetail/{{alls.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{alls.image1.url}}" alt="" class="img-fluid float-left">
                                                <p>{{alls.short_paragraph}}</p>
                                                <small>{{alls.timestamp.date}}</small>
                                            </div>
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end of Related Post widget -->
                            <div class="widget">
                                <h2 class="widget-title">Follow Us</h2>

                             <div class="row text-center">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="https://www.facebook.com/yatraamantran" class="social-button facebook-button">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="https://twitter.com/Naturopathyfor2" class="social-button twitter-button">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="mailto: yatraamantran@gmail.com" class="social-button google-button">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="https://www.youtube.com/channel/UClLiIpHxElqBdqvW69aYXkw" class="social-button youtube-button">
                                            <i class="fa fa-youtube"></i>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- end of Social Medial widget -->
                            <div class="widget">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
<!--                                        <img src="/static\images\add-02.jpg" alt="" class="img-fluid">-->
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end of add widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end of Add widget row -->
            </div><!-- end container -->
        </section>

       <footer class="footer" style="padding: 4rem 0 1rem;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="widget">
                            <div class="footer-text text-left">
<!--                                <a href="index.html"><img src="images/version/tech-footer-logo.png" alt="" class="img-fluid"></a>-->
                               <h2 class="widget-title text-center">Contact US</h2>
                               <div class="row">
                                   <div class="col-sm-6">
                                       <p>

B 121, 2nd floor, Green Field Colony<br>

Faridabad Haryana – 121001<br>

Mail us at – yatraamantran@gmail.com<br>

Our other website – www.willindiachange.org<br>
</p>
                                   </div>
                                   <div class="col-sm-6">
                                <p>
                                    Shop no B 1, Privia mall , near PCMC RTO, Sector 6, Moshi Pradhikaran, Pune 411062<br>
Phone number <br>
Nitin Kalje 9049487878<br>
Kapil Kumar 9716665444<br>
Mail us at
yatraamantran@gmail.com<br>
                                </p>

                                   </div>
                               </div>
                                <p>Yatra Amantran is a traveling as well as news website.</p>

                                <div class="social">
                                    <a href="https://www.facebook.com/yatraamantran" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/Naturopathyfor2" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                     <a href="mailto: yatraamantran@gmail.com" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                    <a href="https://www.youtube.com/channel/UClLiIpHxElqBdqvW69aYXkw" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                                </div>

                                <hr class="invis">

                              <!-- end newsletter -->
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Popular Categories</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="\">Home</a></li>
                                    <li><a href="/news">News</a></li>
                                      <li><a href="/magazine">E-Magzine</a></li>
                                    <li><a href="https://www.youtube.com/channel/UClLiIpHxElqBdqvW69aYXkw">Youtube</a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Copyrights</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="/about">About us</a></li>
                                    <li><a href="/team">Our Team</a></li>
                                    <li><a href="/join us">Join Us</a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="copyright">&copy; Yatra Amantran 2021</div>
                           <p>Made with ❤ by <a href="mailto: maxdev2125@gmail.com"> Max Developers</a></p>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="dmtop scroll-top"style="background-image:url('../static/images/arrow.png'); background-position: 50% 50%;
    background-repeat: no-repeat;

    background-color: #111111;

    z-index: 9999;
    width: 40px;
    height: 40px;
    text-indent: -99999px;
    position: fixed;
    bottom: -100px;
    right: 25px;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    overflow: hidden;"></div>
        
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
 <script src="/static\js/jquery.min.js"></script>
    <script src="/static\js/tether.min.js"></script>
    <script src="/static\js/bootstrap.min.js"></script>
    <script src="/static\js/custom.js"></script>

</body>
</html>