{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>Yatra Amantran</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="
    images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

   <!-- FontAwesome Icons core CSS -->
    <script src="https://kit.fontawesome.com/5f98fb381c.js" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="{% static 'css/colors.css' %}" rel="stylesheet">

    <!-- Version Tech CSS for this template -->
    <link href="{% static 'css/tech.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!--Nav Bar-->
<header class="tech-header header">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="text-center">
                    <a class="navbar-brand" href="\"><img src="/static\images\Logo.png" alt=""  style="height: 69px;width: 119%;"></a>
                    </div>
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="\">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="news">News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="join us">Join Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="team">Our Team</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="magazine">E-Magazine</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div><!-- end container-fluid -->
        </header><!-- end market-header -->
<!-- End of Nav Bar-->


<br>

<div id="wrapper">

        <div class="page-title lb single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-play bg-orange"></i> About </h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="about">About</a></li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->

            </div><!-- end container -->
        </div><!-- end page-title -->

         <div class="blog-meta big-meta container" style="text-align: justify;">
                <h4 class="text-center">About Yatra Amantran</h4>
             <p>

India’s only Hindi Travel Magazine. We are here to promote tour and travel in the Hindi Language which is India’s official language. Also, more than 70% of the population speak Hindi. Yatra Amantran is also a media member of The Outbound Travel Operator Association. Apart from running a bi-monthly magazine on travel, we also cover current affair issues.<br><br> In our last edition, we talked about the exhausted and pathetic situation of Mumbai, the financial capital of India. Primarily we believe that tourism flourishes and travelers like to visit only when the city has corruption-free amenities. But the system rarely cares for anything. So we talk about current affair issues simultaneously so the tourism environment should be breathable.
<br><br>
We also started a travel agency with the help of our team of professional journalists, activists, bloggers and intellectuals. The purpose of the travel agency is to give an educated and informative
travel experience. We welcome anyone who would like to be a part of Yatra Amantran with a passion to contribute to tourism.
<br><br>
In short, we are here to care for the tourism industry in all aspects, be it as a journalist or a passionate traveler.
</p>
         </div>

     <footer class="footer" style="padding: 4rem 0 1rem;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="widget">
                            <div class="footer-text text-left">
<!--                                <a href="index.html"><img src="images/version/tech-footer-logo.png" alt="" class="img-fluid"></a>-->
                               <h2 class="widget-title text-center">Contact US</h2>
                               <div class="row">
                                   <div class="col-sm-6">
                                       <p>

B 121, 2nd floor, Green Field Colony<br>

Faridabad Haryana – 121001<br>

Mail us at – yatraamantran@gmail.com<br>

Our other website – www.willindiachange.org<br>
</p>
                                   </div>
                                   <div class="col-sm-6">
                                <p>
                                    Shop no B 1, Privia mall , near PCMC RTO, Sector 6, Moshi Pradhikaran, Pune 411062<br>
Phone number <br>
Nitin Kalje 9049487878<br>
Kapil Kumar 9716665444<br>
Mail us at
yatraamantran@gmail.com<br>
                                </p>

                                   </div>
                               </div>
                                <p>Yatra Amantran is a traveling as well as news website.</p>

                                <div class="social">
                                    <a href="https://www.facebook.com/yatraamantran" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/Naturopathyfor2" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                     <a href="mailto: yatraamantran@gmail.com" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                    <a href="https://www.youtube.com/channel/UClLiIpHxElqBdqvW69aYXkw" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                                </div>

                                <hr class="invis">

                              <!-- end newsletter -->
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Popular Categories</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="\">Home</a></li>
                                    <li><a href="/news">News</a></li>
                                      <li><a href="/magazine">E-Magzine</a></li>
                                    <li><a href="https://www.youtube.com/channel/UClLiIpHxElqBdqvW69aYXkw">Youtube</a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Copyrights</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="/about">About us</a></li>
                                    <li><a href="/team">Our Team</a></li>
                                    <li><a href="/join us">Join Us</a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
<br>
                        <div class="copyright">&copy; Yatra Amantran 2021</div>
                          <p>Made with ❤ by <a href="mailto: maxdev2125@gmail.com"> Max Developers</a></p>
                    </div>
                </div>
            </div><!-- end container -->

        </footer><!-- end footer -->

        <div class="dmtop scroll-top"style="background-image:url('\static/images/arrow.png'); background-position: 50% 50%;
    background-repeat: no-repeat;

    background-color: #111111;

    z-index: 9999;
    width: 40px;
    height: 40px;
    text-indent: -99999px;
    position: fixed;
    bottom: -100px;
    right: 25px;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    overflow: hidden;"></div>
        
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
 <script src="/static\js/jquery.min.js"></script>
    <script src="/static\js/tether.min.js"></script>
    <script src="/static\js/bootstrap.min.js"></script>
    <script src="/static\js/custom.js"></script>

</body>
</html>